@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin a11y-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}